
- var contact = data.contact;
- var header = data.header;
- const today = new Date();

footer
  .row.text-center
    .col-12
      p.mt-5.mb-1
        | &copy; 2015&thinsp;&ndash;&thinsp;#{today.getFullYear()}
        | #{header.surname} #{header.name}
      small.mt-0.mb-5
        span.text-muted This website was last updated on #{today.toLocaleDateString('en-us', { day: '2-digit', month: '2-digit', year: 'numeric'})}
        | &ensp;|&ensp;
        a(href = `privacy-policy.html`).text-muted Privacy Policy
        | &ensp;|&ensp;
        a(href = `${header.sources}`).text-muted #{header.sources_label}

  data(hidden value = `${data.revision}`) revision
