
-
  let publications = selected ?
      data.publications.publications.filter(p => p.selected && p.selected === true) :
      data.publications.publications;

  if (selected && publications.length < 1 && data.publications.publications.length > 0) {
      publications = data.publications.publications;
  }

  // sort by data
  publications = publications.sort((a, b) => {
    const aDate = Date.parse(a.date);
    const bDate = Date.parse(b.date);
    return aDate < bDate ? +1 : aDate > bDate ? -1 : 0; });

  const happyAnd = (strings) =>
    strings.length === 0 ? '' : strings.reduce((text, value, i, array) =>
      text + (i < array.length - 1 ? ', ' : array.length > 2 ? ', and ' : ' and ') + value);


.row.text-center
  .col-12

    if selected === true
      h2 Selected #[strong #{data.publications.heading}]
      p
        a.text-secondary(href = '/publications.html') Show #[strong all #{data.publications.heading}]
    else
      h2 All #[strong #{data.publications.heading}]
      p
        a.text-secondary(href = '/index.html#publications') by #[strong #{data.header.name} #{data.header.surname}]

    p.pt-0 Research Profiles:&ensp;
      a(href = `https://orcid.org/${data.publications.orcid}`) ORCID
      br.d-inline.d-sm-none
      span.d-none.d-sm-inline &ensp;|&ensp;
      a(href = `https://www.researchgate.net/profile/${data.publications.researchgate}`) Research Gate
      br.d-inline.d-sm-none
      span.d-none.d-sm-inline &ensp;|&ensp;
      a(href = `https://scholar.google.de/citations?user=${data.publications.scholar}`) Google Scholar


include thumbnail

each p in publications
  if p.key === 'separator'
    hr.row.separator
  else
    .row(id =`${p.key}`)

      .col-lg-2.col-sm-3
        +thumbnail(p.thumbnail, p.title, p.flickr)
      .d-block.d-sm-none.mb-3.col-12

      .col-lg-10.col-sm-9
        h3 #{p.title}
        p
        | #{p.published},
        | #{p.date.slice(0, 4)}
        if p.lead_note
          | ,&nbsp;
          if p.lead_href
            a(href = `${p.lead_href}`) #{p.lead_note}
          else
            | #{p.lead_note}
        p
          small #{happyAnd(p.authors)}

        p
          if p.abstract
            a(data-bs-toggle = 'collapse' href = `#abstract-${p.key}`) Abstract
            if p.bibtex || p.downloads
              | &ensp;|&ensp;

          if p.bibtex
            a(data-bs-toggle = 'collapse' href = `#bibtex-${p.key}`) BibTeX
            if p.downloads
              | &ensp;|&ensp;

          if p.downloads
            each download, index in p.downloads
              a(href = `${download.href}`) #{download.desc}
              if index < p.downloads.length - 1
                | &ensp;|&ensp;

        if p.abstract
          .collapse.abstract(data-bs-target id = `abstract-${p.key}`)
            p !{p.abstract}

        if p.bibtex
          .collapse.bibtex(data-bs-target id = `bibtex-${p.key}`)
            .position-absolute.top-0.end-0
              a.btn.btn-sm(type = 'button' download = `${p.bibtex}.bib` href = `/bibliography/${p.bibtex}.bib`) Download
              button.btn.btn-sm.btn-clipboard(type = 'button' data-clipboard-target = `#bibtex-data-${p.key}` data-clipboard-action = 'copy') Copy to Clipboard
            .card-body
              pre(id = `bibtex-data-${p.key}`) #{data.bibliography[p.bibtex]}
