mixin thumbnail(src, alt, flickr)
  .thumbnail.position-relative
    if flickr
      a.thumbnail.flickr(href = `https://www.flickr.com/photos/${data.config.flickr_user}/sets/${flickr}/` data-photoset-id = `${flickr}`)
        span.badge.bg-primary.position-absolute.top-0.start-0 Flickr
    img.img-fluid.rounded(width = `${data.config.img_defaults.thumbnail.w}` height = `${data.config.img_defaults.thumbnail.h}` src = `/images/${src}` alt = `Thumbnail of ${alt}`)
